.vscode/**
.vscode-test/**
.github/**
docs/**
tests/**
screenshots/**
playwright.config.js
test-results/**
playwright-report/**
src/**
.gitignore
.yarnrc
*.vsix
.hintrc
RELEASE.md
vsc-extension-quickstart.md
**/tsconfig*.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.js
**/test.js
**/test/**
**/tests/**
node_modules/**/*.md
node_modules/**/.github/**
node_modules/**/.vscode/**
!node_modules/fast-xml-parser/**
