.vscode/**
.vscode-test/**
.github/**
docs/**
tests/**
screenshots/**
playwright.config.js
test-results/**
playwright-report/**
src/**
.gitignore
.yarnrc
*.vsix
.hintrc
RELEASE.md
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.github/**
!node_modules/fast-xml-parser/**
